.body_perfil {
    display: flex;
    justify-content: center;
    /* background-color: #F25151; */

}

.container {
    background-color: white;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.btn_perfil {
    display: flex;
    justify-content: center;
    background-color: #F25151 !important;
    color: white;
    border-radius: 5px;
    width: 7em;
}

button.btn_tab_perfil {
    font-size: x-large ;
    margin-left: 100px ;
    margin-bottom: 50px ;
    text-transform: uppercase ;
}

button.btn_tab_perfil:disabled, button.btn_tab_perfil [disabled]{
    font-size: x-large ;
    border-bottom: 3px solid black;
}

.foto {
    width: 250px;
}
.foto_perfil {
    visibility: hidden;
}

.input_perfil {
    border-bottom: 2px solid #939393;
    outline: none;
    margin-bottom: 6%;
}

.input_perfil:focus {
    border-bottom: 2px solid #000000;
}

.input_perfil {
    margin-right: 30px;
    padding-left: 2.5%;
    width: 250px;

}

label.btn {
    border-radius: 5px;
    color: white;
    background: #F25151;
    padding: 5px;
}

.columnas {
    display: flex;
    flex-wrap: initial;
    margin-top: 7%
};



.opcion * {
    list-style: none;
}

.opcion {
    padding-bottom: 10%;
}

.columnas2 {
    margin-top: 10%;
}

.input_perfil2 {
    border-bottom: 2px solid #939393;
    outline: none;
    margin-bottom: 6%;
}

.input_perfil2:focus {
    border-bottom: 2px solid #000000;
}

.input_perfil2 {
    padding-left: 5%;
    width: 250px;
}

ul.opcion {
    margin-left: -97%;
}

.opcion li{
    line-height: 180%;
}

.opcion input[name="opcion"] {
    position: absolute;
    visibility: hidden;
}

.label_opcion {
    font-size: 25px;
}

.opcion .label_opcion::before {
    content:"\025b8";
    margin-right: 4px;
}

.opcion input:checked ~ .label_opcion:before {
    content:"\025be";
}

.opcion .interior {
    margin-left: 65%;
    display: none;
    justify-content: center;
    align-content: center;
}

.opcion input:checked ~ .interior {
    display: flex;
}
