@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --mainColor: #29335C
    --mainColorLight: #5767aa;
    --secondaryColor : #db2b39
    --textColor : #eee
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: #29335C;
    color: #eee;
}
nav .link{
    margin: 0 2rem;
    color: #eee;
    text-decoration: none;
}
nav .link:hover{
    color: #db2b39;
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: #eee;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1.4rem;
        background-color: #29335C;
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-button{
        font-size: 1.8rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav .link{
        font-size: 1.5rem;
    }
}
    
    